*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background: url('keyboard background.jpg') no-repeat scroll center / cover;
  position: relative;
  color: #fff;
}
header::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}
header .phone, header nav, header .hero{position: relative;}
.hero {
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
